* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 27, 43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

h1 {
    font-size: 3rem;
    color: rgb(16, 192, 0);
    text-shadow: 2px 2px 2px #73ff00;
    text-align: center;
    margin: 60px;
    animation: loop infinite 2s;
}

@keyframes loop {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

#container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.child {
    width: 550px;
    height: 650px;
    background-color: rgba(2, 44, 107, 0.486);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 5px 5px #009af3;
}

.child:hover {
    width: 570px;
    height: 670px;
    box-shadow: 3px 6px 6px #009af3;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px #009af3;
}

.name {
    font-size: 3rem;
    font-weight: bold;
}

.description {
    font-size: 2rem;
}

.buton {
    width: 150px;
    height: 45px;
    background-color: rgb(212, 18, 18);
    border-bottom: 4px solid rgb(112, 1, 1);
    border-radius: 9px;
    text-align: center;
    padding-top: 8px;
}

.buton:hover {
    height: 41px;
    border-bottom: none;
}